@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import "compass/css3";



body{ margin: 0; padding: 0; }

div.picture1 {
   width:100%; 
   height: 900px;
   margin: 0;
   padding: 0;
   background-image:url('https://brianyau58.github.io/image/Web_coverV2.png');
   position: relative; 
	 background-position: center;
	 background-repeat: no-repeat;
   background-size: contain;

}

div.picture2 {
   width:100%; 
   height: 1800px;
   margin: 0;
   padding: 0;
   background-image: url('./image/skwedBG.png');
   position: relative; 
   background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
   background-size: 100% 100%;
   box-shadow: inset 0px 10px 10px rgba(0,0,0,0.5);
}

div.picture3 {
   width:100%; 
   height: 1000px;
   margin: 0;
   padding: 0;
   background-image: url('https://brianyau58.github.io/image/pacific\ coffee.png');
   background-color:#ffffff;
   position: relative; 
   background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
   box-shadow: inset 0px 10px 10px rgba(0,0,0,0.5);
}

div.picture4 {
   width:100%; 
   height: 1000px;
   margin: 0;
   padding: 0;
   background-image: url('https://brianyau58.github.io/image/starbucks.png');
   background-color:#ffffff;
   position: relative; 
   background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
   box-shadow: inset 0px 10px 10px rgba(0,0,0,0.5);
}

div.picture5 {
  width:100%; 
  height: 1000px;
  margin: 0;
  padding: 0;
  background-image: url('https://brianyau58.github.io/image/BrewBros.png');
  background-color:#ffffff;
  position: relative; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0px 10px 10px rgba(0,0,0,0.5);
}

div.picture6 {
  width:100%; 
  height: 100px;
  margin: 0;
  padding: 0;
  background-color:#000000;
  position: relative; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

div.picture7 {
  width:100%; 
  height: 1000px;
  margin: 0;
  padding: 0;
  background-color:#202841;
  background-image:url('./image/PosterDesignLogo.png');
  position: relative; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


#div1{
  padding: 0px;
  color: rgba(199, 194, 194, 0.904);
  background-color:#141414;
  width:100%;
  height: 250px;
  box-shadow: 0 -10px 8px 0 rgba(0, 0, 0, 0.2);
}

#div2 {
  font-family: "Times New Roman", Times, serif;
  margin-left: 50px;
}

#div3 {
  margin: 0;
  padding: 50px;
  position:absolute;
  background-color:#7c2807;
  width:100%;
  height: 200px;
  box-shadow: 0 -10px 8px 0 rgba(0, 0, 0, 0.2);
}

#div4 {
    margin: 0;
    padding: 50px;
    position:absolute;
    background-color:#022c25;
    width:100%;
    height: 200px;
    box-shadow: 0 -10px 8px 0 rgba(0, 0, 0, 0.2);
  }

#div5 {
    margin: 0;
    padding: 50px;
    position:absolute;
    background-color:#000000;
    width:100%;
    height: 200px;
    box-shadow: 0 -10px 8px 0 rgba(0, 0, 0, 0.2);
}

#div6 {
  margin: 0;
  padding: 0;
  position:absolute;
  background-color:#000000;
  width:100%;
  height: 7000px;
	text-align: center;
	color: #000;
  font-family: "Poppins", sans-serif;
}

#div7 {
  margin: 0;
  padding: 0;
  position:relative;
  background-color:#203f41;
  width:100%;
  height: 3500px;
	text-align: center;
	color: #000;
  font-family: 'Fraunces', serif;

}

#div8 {
  margin: 0;
  padding: 0;
  position:relative;
  width:100%;
  height: auto;
	text-align: center;
	color: #000;
  font-family: "Poppins", sans-serif;
  box-shadow: inset 0px 10px 10px rgba(0,0,0,0.5);
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Poppins", sans-serif;
	color: rgb(255, 255, 255);
}

#p1 {
  position: absolute;
	font: 15px "Poppins", sans-serif;
  color: rgba(199, 194, 194, 0.904);
  text-align: center;
  padding:50px 80px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

#p2 {
  font-size: 17px;
  color: rgba(199, 194, 194, 0.904);
  text-align: left;
  padding:200px 100px;
}

#p3 {
  font-size: 20px;
  color: rgba(199, 194, 194, 0.904);
  text-align: left;
  padding:300px 80px;
}

#p4 {
  position: absolute;
	font: 15px "Poppins", sans-serif;
  color: rgba(199, 194, 194, 0.904);
  text-align: center;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

#p5 {
  font-size: 17px;
  color: rgba(199, 194, 194, 0.904);
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

#p6 {
  font-size: 17px;
  color: rgba(199, 194, 194, 0.904);
  text-align: center;
  padding:10px 10px;
  margin-left: 100px;
  margin-right: 100px;
}

#p7 {
  font-size: 100px;
  color: rgba(199, 194, 194, 0.904);
  text-align: center;
  padding:10px 10px;
  margin: 0;
  padding: 0;
}

#p8 {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.904);
  text-align: center;
  padding:10px 10px;
  margin: 0;
  padding: 0;
}

.caption {
  margin: 0;
  padding: 0;
	position: absolute;
	left: 0;
	top: 50%;
	text-align: center;
	color: #000;
  font-family: "Poppins", sans-serif;
}

.caption2 {
  margin: 0;
  padding: 0;
	position: absolute;
	left: 0;
	top: 50%;
	text-align: center;
  background-color: #000000;
	color: #000;
  font-family: "Poppins", sans-serif;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
  
#brandlogoText{
  font-family: 'Crimson Pro', serif;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 90px;
  padding:50px 80px;
}

#text{
  position: relative;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 100px;
}

#text2{
  position: absolute;
  color: #000000;
  font-weight: 700;
  font-size: 60px;
  background: #ffffff;
  line-height: 70px;
  margin-left: 100px;

}

#text3{
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 70px;
  text-align: left;
  margin-left: 100px;
}

#pdlogo {
  position: relative;
	width: 100%;
  margin: 0px;
	padding: 0px;
  height: auto;

}

#pdlogoBox {
  background-size: 100% 100%;
}

#HWlogo {
  position: relative;
	width: 100%;
  height: auto;
  margin: 0px;
	padding: 0px;

}

#posterbox1{
  position: static;
  padding: 50px 445px;
}

#poster1 {
  border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	padding: 0px;
	width: 50%;
  height: auto;
}

#poster2 {
	padding: 0px;
	width: 30%;
  height: auto;
}


#poster3 {
	padding: 0px;
	width: 50%;
  height: auto;

}

table.a {
  table-layout: auto;
  width: 100%; 
  white-space:nowrap;
  
} 

table, th, td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: 300px;
}


.space {
	margin-top: 300px; 
}

.space2 {
	margin-top: 250px; 
}

.space3 {
	margin-top: 200px; 
}

.space4 {
	margin-top: 600px; 
}

.space5 {
	margin-top: 500px; 
}


header {
  height: 200vh;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}
.container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 100vh;
  left: 0;
  width: 100%;
  
  
  /* safari hack */
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

.container_solid {
  background: white;
  box-shadow: inset 0px 10px 10px rgba(0,0,0,0.5);
  /* position this container at the top of its parent element */
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;  
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  /* the text background */
  background: url('./image/videoBG.jpg');
  background-size: 100vw auto;
  background-position: center;
  
  /* clip the text is possible */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
  /* fallback text color */
  color: black;
}

.container_image {
  /* Grab a free image from unsplash */
  background-image: url('./image/videoBG.jpg');
  background-size:100vw auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  /* position the second container below the first container */
  top: 100vh;
}

.container_image .title_wrapper h1 {
  color: white;
}

section {
  min-height: 100vh;
  padding: 2em;
  margin: auto;
  max-width: 800px;
  
}

section h2 {
  font-family: "Poppins", sans-serif;
}

section p {
  font-family: "Poppins", sans-serif;
}

/*-------------------------------------------------*/
:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 4s;
	}

	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}


/** PAGE STYLING **/

* { /* Poor Man's Reset */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: rgb(255, 255, 255);
	text-align: center;
}

div.header,
main {
	width: 80vw;
	margin: 0 auto;
}

div.header {
	height: 100vh;
	display: grid;
	place-items: center;
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


h2 {
	font-weight: 300;
	font-size: 2.5em;
}

p {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	line-height: 1.42;
}

.btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

aside {
	width: 50vw;
	margin: 0 auto;
	text-align: left;
}

aside p {
	margin-bottom: 1em;
}





.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}



.css-typing p {
  border-right: .15em solid orange;
  font-family: "Courier";
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
}
.css-typing p:nth-child(1) {
  width: 24ch;
  -webkit-animation:type2 2s steps(60), blink .5s step-end infinite alternate;
  animation: type2 2s steps(60), blink .5s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 21ch;
  opacity: 0;
  -webkit-animation: type2 2s steps(60), blink .5s step-end infinite alternate;
  animation: type2 2s steps(60), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}


@keyframes blink {
  50% {
    border-color: transparent
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}